*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Imagens/escritorio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

h1{
    font-size: 60px;
    color: rgb(216, 211, 202)
    
}
h1{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
  text-align: center;
  background-color: rgb(112, 4, 4);
}

img{
    border-radius: 20px;
    border: 2px solid rgb(112, 1, 1); 
}

h1 {
  border-radius: 10px; 
  border: 2px solid rgb(112, 1, 1); 
  padding: 1px;
  border-width:0.5;
}

.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 40px;
    border: 10px solid black;
    border-radius: 10px; 
    border: 2px solid rgb(112, 1, 1); 
    padding: 10px;

}

.card{
    border-radius: 10px;
    border: 2px solid black;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px; 
    background-color: rgb(112, 4, 4);
    color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 200ms linear;
}

.card:hover{
    cursor: pointer;
    background-color: rgb(112, 4, 4);
    color: #FFFFFF;
    height: 500px;
    width: 250px;
}

.card img{
    width: 200px;
    height: auto;
}